html {
    background-color: #c2beae;
}
header {
    background-color: #c2beae;
    font-family: "Proza Libre", sans-serif;
    height: 7%;
    width: 100%;

}
header h2 {
    padding-top: 15px;
    padding-left: 40px;
}

main {
    background-color: #f4efe7;
    border: 10px #e1d9b0 solid;
    border-radius: 15px;
    font-family: "Proza Libre", sans-serif;

}

footer {
    margin: auto;
    background-color: #c2beae;
    font-family: "Proza Libre", sans-serif;
    text-align: center;
}